<h4>Login</h4>
<form action="" (ngSubmit)="onLogin()">
    <div class="form-group">
        <label for="username">User Name</label>
        <input class="form-control" id="username" type="text" [(ngModel)]="formLogin.name" name="name" #username="ngModel"
               required minlength="3" appForbiddenName="bob"/>
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
             class="alert">
            <div *ngIf="username.errors?.['required']">
                User Name is required.
            </div>
            <div *ngIf="username.errors?.['minlength']">
                User Name must be at least 3 characters long.
            </div>
            <div *ngIf="username.errors?.['forbiddenName']">
                User Name cannot be Bob.
            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" [(ngModel)]="formLogin.password" name="password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
<a routerLink="/auth/register">
    Register
</a>
