<!--<app-chart></app-chart>-->
<!--<app-top-bar></app-top-bar>-->


<!--template-->
<!--<ng-template appExampleZippyContent>-->
  <!--It depends on what you do with it.-->
<!--</ng-template>-->
<!--<app-zippy-multislot>-->
  <!--<div answer>-->
    <!--<ul style="padding: 10px; background-color: gray">-->
      <!--<li>1</li>-->
      <!--<li>2</li>-->
      <!--<li>3</li>-->
      <!--<li>4</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<p question>-->
    <!--Is content projection cool?-->
  <!--</p>-->
  <!--<p>Let's learn about content projection!</p>-->
<!--</app-zippy-multislot>-->

<!--./END template-->

<!--<app-zippy-multislot>-->
  <!--<div style="padding: 10px; background-color: gray">-->
    <!--<h2>Is content projection cool?</h2>-->
    <!--<p>Is content projection cool?</p>-->
    <!--<p>Is content projection cool?</p>-->
    <!--<p>Is content projection cool?</p>-->
  <!--</div>-->
<!--</app-zippy-multislot>-->
<div class="directives">
  <!--<p [appHighlight]="color">Highlight me!</p>-->
  <!--<p [playAudio]="audio" defaultAudio="'tests1111.mp3'">Play</p>-->
</div>
<div class="interaction">
  <!--<app-parent></app-parent>-->
  <!--<app-sibling></app-sibling>-->
</div>
<div class="element-components">
  <!--<cp-button [title]="'Submit'" [class]="'cs_btn'" (onClick)='onClickElement($event)'></cp-button>-->
  <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Click modal</button>-->

  <!--<cp-modal [modalId]="modalId" [headerTitle]="'Test header'" [csModalClass]="'cs_modal_login'">-->
    <!--<div body>-->
      <!--<cp-modal-content [modalId]="modalId"></cp-modal-content>-->
    <!--</div>-->
    <!--<div footer></div>-->
  <!--</cp-modal>-->

  <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Click modal</button>-->
  <!--<cp-modal [modalId]="'loginModal'" [headerTitle]="'Test header'" [csModalClass]="'cs_modal_login'">-->
    <!--<div body>-->
      <!--<cp-modal-content [modalId]="'loginModal'"></cp-modal-content>-->
    <!--</div>-->
    <!--<div footer></div>-->
  <!--</cp-modal>-->
  <!--<div>Data modal: {{dataModal | json }}</div>-->
  <!--<div>{{dataModal | json }}</div>-->
</div>

<div class="container">
  <!--<router-outlet></router-outlet>-->
</div>

