/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
    width: 100%;
    /*min-width: 400px;*/
    /*max-width: 450px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    border-bottom: 1px solid #EEEEEE;
    background-color: #37563e;
}

body{
    background-color: #343a40;
    color: #fff;
}
.table th, .table td{
    color: #fff
}
a{
    color: #fff;
    text-decoration: underline;
}
.modal-content{
    background-color: #2f3d4a;
}
.bg_loading{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    margin: 0;
    text-align: center;
}
